<div class="panel panel-default">
  <div class="panel-heading">
    Weekly Report 周报提交系统
  </div>
  <div class="panel-body">
      <strong>用户注册时，请使用真实姓名的拼音，例如：张三 zhangsan</strong><br><br>
      <strong>请使用 markdown 语法提交周报，markdown 语法如下所示：</strong><br><br>
<pre>
- 创建列表項，每一项的开头用 - 标识
- 列表项 2
- 列表项 3
#### 4 级标题
###  3 级标题
##   2 级标题
#    1 级标题
</pre>
    </ul>
  </div>
</div>