<% provide :title, 'Edit Report' %>

<div class="rows">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        编辑本周周报 &#9679; 第 <%= @report.created_at.strftime("%U").to_i + 1 %> 周
      </div> 
      <div class="panel-body">
        <%= form_for [@user, @report] do |f| %>
          <div class="form-group">
            <%= f.text_area :content, class: 'form-control', rows: 12 , class: 'form-control' %>
          </div>
          <%= f.submit '提交改动', class: 'form-control btn btn-success'  %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        Markdown 语法说明
      </div>
      <div class="panel-body">
       &#9679; <strong>标题</strong><br>
       井号后面的文字视为标题，会有相应的样式加以渲染，井号的数目代表相应标题的级别
<pre>
#### 四级标题
###  三级标题
</pre>
       &#9679; <strong>列表项</strong><br>
       列表项用 - 标识，注意之间有个空格
<pre>
- 项目1
- 项目2
- 项目3
</pre>
       &#9679; <strong>段落</strong><br>
每个段落之间请用空行隔开，同样标题与列表项也视为一个段落，之间也要用空行隔开
      </div>
    </div>
  </div>
</div>